<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Hotel application tests" parallel="methods" thread-count="4">
    <test name="HotelBuilder test">
        <classes>
            <class name="hotel.HotelBuilderTest"/>
        </classes>
    </test>
    <test name="MenuFunction test">
        <classes>
            <class name="menu.MenuFunctionsTest"/>
        </classes>
    </test>
    <test name="UserInterface test">
        <classes>
            <class name="menu.UserInterfaceTest"/>
        </classes>
    </test>
    <test name="Room test">
        <classes>
            <class name="rooms.RoomTest"/>
        </classes>
    </test>
    <test name="Users test">
        <classes>
            <class name="users.UsersTest"/>
        </classes>
    </test>
</suite>